.main {
    height: auto;
    background-image: url('https://i.blogs.es/669147/ram-s6-key--rt-1920x1080/840_560.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0 35em 0;
}

.main>input {
    width: 40%;
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 1.2em;
    font-weight: bold;
    padding: .5em 0;
}

.tablePersonajes tbody {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.5em 8em;
}

.tablePersonajes td {
    width: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius:5px 5px 0 0 ;
    color: #000;
    font-size: 1.4em;
    cursor: pointer;
    border-style: solid;
}

.tablePersonajes td:last-child {
    background: none;
    width: auto;
}

.tablePersonajes img {
    width: 100%;
    height: auto;
    cursor: pointer;
    border-radius: 0 0 5px 5px;
}

@media (max-width:425px) {
    .main {
        height: auto;
        padding-bottom: 40em;
    }

    .main>input {
        width: 90%;
        height: 8px;
    }

    .tablePersonajes tbody {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5em 1em;
        padding: 0 2em;
    }

    .tablePersonajes td {
        display: flex;
        justify-content: center;
        background-color: #000;
        border-radius: 5px;
        color: #fff;
        font-size: 1em;
        cursor: pointer;
        width: 95%;

    }

    .tablePersonajes img {
        width: 100%;
    }
}