.contenido {
    background: #FF8008;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFC837, #FF8008);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFC837, #FF8008); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    max-width: 95%;
    margin: 2rem auto;
}

.contenido-buscador {
    display: flex;
    padding: 3rem;
}

.contenido-buscador__input {
    width: 100%;
    padding: 1rem;
}

@media (min-width: 768px) {
    .contenido-personajes {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 3rem;
    }
}
.contenido-personajes{
    padding: 2rem;
}
.personaje-img{
    width: 100%;
}
.personaje{
    position: relative;
    margin-bottom: 5rem;
}
.informacion-personaje{
    text-align: center;
    background-color: #fff;
    margin: -5rem auto 0 auto;
    position: absolute;
    width: 90%;
    left: 1rem;
}
