.nav {
    background-color: rgb(2, 5, 2);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5em;
}
.nav>h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: .3em;
}
.nav>img {
    width: 200px;
}

@media (max-width: 425px) {

    .nav>h1,
    h2 {
        font-size: 1em;
    }

    .nav>img {
        width: 100px;
    }
}