.nav{
    background-image: url("https://images7.alphacoders.com/606/606023.png");
    background-position: center center;
    background-size: cover;
    height: 10rem;
}

@media (min-width: 768px){
    .nav {
        height: 30rem;
    }
}
